#header{
  width: 100%;
  min-height: 30px;
  background-color: #BEC1C4;
  color: rgb(210, 210, 210);
  text-align:center;
  border-radius: 0;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(220, 120, 180);
}

#food{
  width: 70%;
  border-radius: 20px;
  border: 1px solid rgb(0, 0,0);
  margin: 50px auto;
  padding: 25px 25px;
}
