#header{
  width: 100%;
  min-height: 30px;

  text-align:center;
  border-radius: 2;
  border: none;
}

body {
  font-family: Arial, sans-serif;
}

.section{
    width: 100%;
}

#food{
  width: 100%;
  border: none;
  margin: 50px auto;
  padding: 25px 25px;
}

h2{
  text-align: center;
}
