#header{
  width: 100%;
  min-height: 30px;
  font-style: italic;
  font-weight: bold;
  text-align:center;
  border-radius: 2;
  border: none;
}

body {
  font-family: Arial, sans-serif;
}

.section{
    width: 100%;
}

.parallax {
    background-image: url("hong kong skyline.jpg");

    /* Set a specific height */
    height: 400px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#food{
  width: 100%;
  background-color: #F5E1E8;
  border: none;
  margin: 50px auto;
  padding: 25px 25px;
}

h2{
  text-align: center;
  font-style: italic;
}
